appdirs==1.4.3
attrs==19.1.0
black==19.3b0
black-magic==0.0.12
black-percentage-tester==0.0.3
Click==7.0
colorama==0.4.1
filelock==3.0.10
gitdb2==2.0.5
GitPython==2.1.11
isort==4.3.17
MonthDelta==0.9.1
npyscreen==4.10.5
pluggy==0.9.0
py==1.8.0
pyscreen==0.3
six==1.12.0
smmap2==2.0.5
toml==0.10.0
tox==3.9.0
virtualenv==16.4.3
